# Игнорировать все скомпилированные Python файлы
*.pyc
*.pyo
*.pyd

# Игнорировать папки __pycache__
__pycache__/

# Игнорировать временные файлы редакторов
*~
*.swp
*.swo

# Игнорировать настройки IDE
.idea/
.vscode/

# Файлы окружения
.env
*.env

# Игнорируем папку с выходными данными
data/output/